langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.55
langchain-text-splitters==0.3.8

langchain-groq
langchain-huggingface
langchain-chroma
pymongo
python-dotenv
streamlit
chromadb
sentence-transformers
pypdf
huggingface-hub
protobuf==3.20.3
ragas
dataset
